.box1 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin: 5px;  
  height: 50px;
  weight:100px;
  background-color: #1F2C73;
  color: white;


}
html, body, .box {
    height: 100%;
}
.box {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 250px;
  
    
}
.jpg {
max-width: 100%;
}