.box1 {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  margin: 5px;  
}
html, body, .box {
    height: 100%;
}
.box {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 100px;
    height: 250px;
    weight: 100px;
    
}
.jpg {
  width: 100%;
}